html, body {
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#arena {
    background-color: #474747;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    border: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#console {
    display: none;
    position: absolute;
    z-index: 9999999;
    right: 0;
}

#add, #validate {
    height: 5%;
    width: 45%;
}

#deckname {
    width: 50%;
}

#close {
    float: left;
}

#deckinput {
    width: 100%;
    height: 50%;
    float: left;
    color: white;
    overflow-y: auto;
    border: 1px solid #222;
}

.invalid {
    color: red;
    font-weight: bold;
}

.maybe_valid {
    color: gray;
    font-weight: bold;
}

.validated {
    color: green;
    font-weight: bold;
}

#validstatus {
    color: white;
}

#deckpanel {
    background-color: black;
    left: -45%;
    opacity: 0.75;
    padding: 5px;
    height: 100%;
    width: 35%;
    position: absolute;
    z-index: 9999999;
    top: 0px;
}

#hand {
    width: 100%;
    background-color: #257390;
    border-top: 2px solid #33b5e5;
    position: absolute;
    bottom: 0px;
    height: 220px;
    padding: 0;
    margin: 0;
    z-index: 2500000;
    opacity: 0.80;
    /* hides white line on android */
    margin-bottom: -2px !important;
}

.ui-selectable-helper {
    position: absolute;
    border: 3px dashed #33b5e5;
    z-index: 4500000 !important;
}

.collapsed {
    height: 60px !important;
    background-color: #000000 !important;
    border-top: 2px solid #555 !important;
}

.active {
    background-color: #257390 !important;
    border-top: 2px solid #33b5e5 !important;
}

.dragging {
/*            border-top: 2px solid #33b5e5 !important; */
}

li.confirm {
    background-color: #550000 !important;
}

li.confirm:hover, li.confirm.hover {
    background-color: #aa0000 !important;
}

.card {
    -webkit-backface-visibility: hidden;
    position: fixed;
    border-radius: 6px;
    border: 3px solid black;
    width: 92px;
    height: 131px;
}

ol, ul {
    list-style: none;
}

.hoverlink {
    font-weight: bold;
    font-size: 15pt;
    line-height: 15pt;
    vertical-align: middle;
}

.hoverdesc {
    line-height: 25pt;
    font-size: 10pt;
    vertical-align: middle;
}

li:hover, li.hover {
    cursor: pointer;
    background-color: #257491;
}

.hoverlink:hover, .hoverlink.hover {
    cursor: pointer;
}

.hoverlink.poison-source {
    color: #33b5e5 !important;
}

li.poison-source {
    background-color: #257491 !important;
    color: white !important;
}

.disabled:hover {
    cursor: default !important;
}

.hoverRotate {
    transform: rotate(5deg) translate(7%, 7%);
    -moz-transform: rotate(5deg) translate(7%, 7%);
    -ms-transform: rotate(5deg) translate(7%, 7%);
    -o-transform: rotate(5deg) translate(7%, 7%);
    -webkit-transform: rotate(5deg) translate(7%, 7%);
    margin-bottom: 80px;
}

.flipped {
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.rotated.flipped {
    margin-top: 25px;
    margin-left: -10px;
    transform: rotate(-90deg) translate(20%, 14%);
    -moz-transform: rotate(-90deg) translate(20%, 14%);
    -ms-transform: rotate(-90deg) translate(20%, 14%);
    -o-transform: rotate(-90deg) translate(20%, 14%);
    -webkit-transform: rotate(-90deg) translate(20%, 14%);
}

.rotated {
    margin-top: 25px;
    margin-left: -10px;
    transform: rotate(90deg) translate(-20%, -14%);
    -moz-transform: rotate(90deg) translate(-20%, -14%);
    -ms-transform: rotate(90deg) translate(-20%, -14%);
    -o-transform: rotate(90deg) translate(-20%, -14%);
    -webkit-transform: rotate(90deg) translate(-20%, -14%);
}

li {
    color: white;
    line-height: 75px;
    height: 75px;
    vertical-align: middle;
    font-size: 20pt;
    font-family: sans-serif;
    text-align: left;
    border-bottom: 2px solid #2e2e30;
    margin-bottom: -9px;
    margin-top: 5px;
    padding-left: 10px;
}

li.top {
    border-top: 2px solid #404144;
}

li.bottom {
    border-bottom: none;
    margin-bottom: 5px;
}

.header {
    color: #bebebe;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 12pt;
}

div.hovermenu {
    left: 50%;
    border-radius: 8px;
    right: 50%;
    top: 30%;
    bottom: 75%;
    border: 8px solid black;
    position: absolute;
    z-index: 90000000 !important;
    display: none;
    background-color: black;
}

.hovermenu img {
    z-index: 90000005 !important;
    color: white !important;
}

.disabled {
    color: #4c4c4c !important;
    background-color: transparent !important;
    pointer-events: none;
}

div.hovernote {
    color: #bebebe;
    font-family: sans-serif;
    text-align: center;
    padding-bottom: 4pt;
    padding-top: 2pt;
    background-color: #000;
    width: auto;
    position: absolute;
    top: 518px !important;
    width: 100%;
    font-style: italic;
    margin-left: -8px;
    border-right: 8px solid black;
    border-left: 8px solid black;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.highlight {
    border: 3px solid #33b5e5;
}

.snappoint {
    border: 3px solid #33b5e5 !important;
}

.selecting {
    border: 3px solid #33b5e5 !important;
}

#selectionbox {
    position: fixed;
    border: 4px solid #33b5e5 !important;
    display: none;
    z-index: 4500000;
    background-color: rgba(25, 200, 230, 0.3);
}

#selectionbox span {
    position: absolute;
    bottom: -28pt;
    right: -5px;
    color: #eee;
    font-weight: bold;
    font-size: 18pt;
    font-family: sans-serif;
}

#selectionarea {
    position: fixed;
    pointer-events: none;
    border: 5px solid #404040 !important;
    display: none;
    z-index: 0;
    background-color: #373737;
}

.uuid_frame {
    position: fixed;
    border: 3px solid orange;
    pointer-events: none;
    border-radius: 5px;
    z-index: 5500000;
    font-family: sans;
}

.uuid_frame span {
    position: absolute;
    padding: 4px 4px 0px 0px;
    background-color: orange;
    border-radius: 2px;
    color: white;
}

.flipName span {
    padding: 4px 4px 0px 0px !important;
    bottom: -2px !important;
    right: 0px !important;
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

#divider {
    position: absolute;
    border-top: 2px solid #666;
    left: 4%;
    width: 90%;
    height: 0px;
    padding: 0;
    margin: 10px;
}

.blueglow {
    box-shadow: inset 0px 0px 0px 10px #33b5e5;
}

#homescreen {
    background-color: #fffbdf;
    font-family: sans;
    position: absolute;
    width: 550px;
    top: 10%;
    left: 50%;
    margin: 0px 0 0 -300px;
    padding: 0px 20px 20px 20px;
    z-index: 9800000;
}

.home-hidden {
    display: none;
}

.gamechoice {
    padding-bottom: 10px;
}

#presence {
    float: right;
    color: gray;
    font-size: small;
    padding: .5em;
}
